body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  color: green;
}

.centered {
  display: block;
  position: fixed;
  width: 800px;
  left: 50%;
  margin-left: -400px;
}


h1 {
  text-align: center;
  line-height: 2.5em;
  width: 806px;
  width: 100%;
}

.centerColumn {
  height: 100vh;
  margin: 0 auto;
  width: 806px;
}

.window {
  height: 400px;
  top: 100px;
  border-style: solid;
  border-width: 3px;
  -moz-border-image: url(img/border.png) 3 stretch;
  -webkit-border-image: url(img/border.png) 3 stretch;
  -o-border-image: url(img/border.png) 3 stretch;
  border-image: url(img/border.png) 3 stretch;
  background-image: url(img/bg2.png);
  background-size: cover;
}

.guybrush {
  background-image: url('img/guybrush.png');
  background-repeat: no-repeat;
  transform: scale(2,2);
  transform-origin: -11px 100px;
  position: relative;
  background-position: -6px -3px;
  width: 22px;
  height: 47px;
  top: 400px;
}

.guybrush.right {
  transform: scale(2,2) rotateY(180deg);
  transform-origin: 11px 100px;
}

.walking1 {
  background-position: -35px -63px;
  width: 22px;
  height: 47px;
}

.walking2 {
  background-position: -62px -63px;
  width: 19px;
  height: 47px;
}

.walking3 {
  background-position:-87px -63px;
  width: 32px;
  height: 47px;
}

.walking4 {
  background-position:-128px -63px;
  width: 17px;
  height: 47px;
}

.walking5 {
  background-position:-153px -63px;
  width: 19px;
  height: 47px;
}

.walking6 {
  background-position:-179px -63px;
  width: 32px;
  height: 46px;
}

.controls {
  height: 100px;
  top: 500px;
  border: 1px solid blue;
  border-style: solid;
  border-width: 3px;
  -moz-border-image: url(img/border.png) 3 stretch;
  -webkit-border-image: url(img/border.png) 3 stretch;
  -o-border-image: url(img/border.png) 3 stretch;
  border-top-width: 0px;
}

input {
  height: 20px;
  top: 610px;
  background-color: black;
  -webkit-appearance:none;
  color: #6F6;
  border-image: none;
}


