body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: courier;
  background-color: black;
  color: green;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.centered {
  display: block;
  position: fixed;
  width: 800px;
  left: 50%;
  margin-left: -400px;
}


h1 {
  text-align: center;
  line-height: 2.5em;
  width: 806px;
  width: 100%;
}

.message {
  display: block;
  min-height: 40px;
  max-width: 200px;
  height: max-content;
  width: max-content;
  height: -webkit-max-content;
  width: -webkit-max-content;
  background-image: url(img/text.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  font-size: 0.1rem;
  padding: 11px;
  top: -54px;
  border: 4px solid transparent;
  opacity: 0;
  word-wrap: break-word;
}

.right .message {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  background-image: url(img/text2.png);
}

.centerColumn {
  height: 100vh;
  margin: 0 auto;
  width: 806px;
}

.window {
  height: 400px;
  top: 100px;
  border-style: solid;
  border-width: 3px;
  -moz-border-image: url(img/border.png) 3 stretch;
  -webkit-border-image: url(img/border.png) 3 stretch;
  -o-border-image: url(img/border.png) 3 stretch;
  border-image: url(img/border.png) 3 stretch;
  background-image: url(img/bg100.gif);
  background-size: cover;
}

.screen2 {
  background-image: url(img/bg9.gif);
  background-position: -50x 0px;
  background-repeat: no-repeat;
}

.screen3 {
  background-image: url(img/bg5.gif);
}

.guybrush {
  background-image: url('img/guybrush.png');
  background-repeat: no-repeat;
  transform: scale(2,2);
  transform-origin: -11px 100px;
  position: relative;
  background-position: -35px -63px;
  width: 22px;
  height: 47px;
  top: 400px;
  left: 0px;
  transition: 1200ms left;
  z-index: 69;
}

.guybrush.right {
  transform: scale(2,2) rotateY(180deg);
  transform-origin: 11px 100px;
}

.walking1 {
  background-position: -35px -63px;
  width: 22px;
  height: 47px;
}

.walking2 {
  background-position: -62px -63px;
  width: 19px;
  height: 47px;
}

.walking3 {
  background-position:-87px -63px;
  width: 32px;
  height: 47px;
}

.walking4 {
  background-position:-128px -63px;
  width: 17px;
  height: 47px;
}

.walking5 {
  background-position:-153px -63px;
  width: 19px;
  height: 47px;
}

.walking6 {
  background-position:-179px -63px;
  width: 32px;
  height: 46px;
}

.item {
  transform-origin: -11px 100px;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
}

.chest {
  background-image: url(img/chestclosed.png);
  width: 90px;
  height: 81px;
  background-size: cover;
}

.chest.open {
  background-image: url(img/chestopened.png);
}

.green {
  filter: hue-rotate(110deg);
  -webkit-filter: hue-rotate(110deg);
}

.blue {
  filter: hue-rotate(240deg);
  -webkit-filter: hue-rotate(240deg);
}

.red {
  filter: hue-rotate(350deg) saturate(1.7);
  -webkit-filter: hue-rotate(35x0deg) saturate(1.7);
}

.gate {
  background-image: url(img/gate.png);
  width: 58px;
  height: 63px;
  background-position: -209px -1px;
  transform: scale(3,3);
}

.gate.open {
  background-position: -209px -193px;
}

.turtle {
  background-image: url(img/turtle.png);
  width: 27px;
  height: 28px;
}

.sword {
  background-image: url(img/sword.png);
}

.bomb {
  background-image: url(img/bomb.png);
}

.chicken {
  background-image: url(img/chick.png);
  background-size: contain;
}

.bug {
  background-image: url(img/bug.png);
  background-size: contain;
  width: 30px;
  height: 60px;
}

.rat {
  background-image: url(img/rat.png);
  background-size: contain;
  width: 30px;
  height: 30px;
}


.key {
  background-image: url(img/key.png);
  background-size: contain;
  width: 30px;
  height: 30px;
}

.statue {
  background-image: url(img/statue.gif);
  background-size: cover;
  width: 96px;
  height: 144px;
}

.knife {
  background-image: url(img/knife.png);
  background-size: cover;
  width: 35px;
  height: 35px;
}

.controls {
  height: 100px;
  top: 500px;
  border: 1px solid blue;
  border-style: solid;
  border-width: 3px;
  -moz-border-image: url(img/border.png) 3 stretch;
  -webkit-border-image: url(img/border.png) 3 stretch;
  -o-border-image: url(img/border.png) 3 stretch;
  border-top-width: 0px;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 10px;
}

.commands, .inventory {
  height: 90px;
  padding: 5px;
  display: flex;
}

.commands {
  flex: 0.6;
  flex-flow: column wrap;
}

.inventory {
  flex: 1;
  flex-flow: row nowrap;
}

.command {
  flex: 1 0 40px;
  border: 1px dotted #333;
  text-shadow: 1px 1px transparent;
  transition: text-shadow 0.2s;
}

.glowText {
  text-shadow: 1px 1px white;
}

.stored {
  flex: 0 1 50px;
  border: 1px dotted #444;
  height: 90px;
  background-size: contain;
  position: relative;
}

input {
  height: 20px;
  top: 612px;
  margin-top: 5px;
  background-color: black;
  -webkit-appearance:none;
  color: #6F6;
  border-image: none;
}


